<div class="container">
    <div class='container-full-width flex-full-center full-height'>
        <div class='full-gutter full-height'>
            <div class="flex-col-center">
                <div class="separator"></div>
                <div class="flex-row-center pad-b-xl">
                    <input type="text" [formControl]="searchControl" />
                    <button (click)="iTunesSearch(searchControl.value)">Rechercher</button>
                </div>
                <div class="flex-col-center">
                    <ul *ngFor="let item of results">
                        <li style="list-style: none;">
                            {{ item }}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>