<div class="container">
    <div class='container-full-width flex-col-center full-height'>
        <div class='full-gutter'>
            <div class='container-grid-2'>
                <div class='grid-item flex-col-center'>
                    <img src="../../assets/images/fujyn_logo_3d.svg" alt="Fujyn text">
                </div>
                <div class='grid-item flex-col-center mobile'>
                    What's up
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class='container-full-width flex-col-center full-height'>
        <div class='full-gutter'>
            <div class='container-grid-2'>
                <div class='grid-item flex-col-center mobile'>
                    What's up
                </div>
                <div class='grid-item flex-col-center'>
                    <img src="../../assets/images/fujyn_text_3d.svg" alt="Fujyn text">
                </div>
            </div>
        </div>
    </div>
</div>

